fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy[asyncio]==2.0.30
asyncpg==0.29.0
alembic==1.13.1
pydantic==2.7.1
pydantic-settings==2.2.1
PyJWT==2.8.0
bcrypt==4.1.3
pyotp==2.9.0
cryptography==42.0.7
celery[redis]==5.4.0
redis==5.0.4
httpx==0.27.0
python-multipart==0.0.9
emails==0.6.0
qrcode[pil]==7.4.2
croniter==3.0.3
boto3==1.34.131
paramiko==3.4.0
requests==2.32.3
slowapi==0.1.9
